
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

.nav{
    background-color:rgba(218, 218, 218, 1);
    font-family: 'Montserrat', sans-serif;
}

.bold{
    font-weight: 600;
    color: black;
}

.bold:hover{
   color: rgb(5, 121, 106);
}

.margin_right{
    margin-right: 60px;
}

.margin_left{
    margin-left: 60px;
}

.icon{
    color: rgba(0, 223, 191, 1);
    font-size: 30px;
}
