@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

.section{
    background-color: rgba(218, 218, 218, 1);
    font-family: 'Montserrat', sans-serif;
    height: 150vh;
}
.border{
    border-top: 1px solid rgba(0, 223, 191, 1);
    margin-right: 35px;
    margin-left: 35px;
    background-color:rgba(218, 218, 218, 1);
}
