@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

.section{
    background-color: #dadada;
    font-family: 'Montserrat', sans-serif;
    height: 15 0vh;
      
}
.border{
    border-top: 1px solid rgba(0, 223, 191, 1);
    margin-right: 35px;
    margin-left: 35px;
    background-color:rgba(218, 218, 218, 1);
}

.boxTwo{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    margin-left: 35px;
}

.boxGrafic{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}

.box{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;

}
.boxSaldo{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;

}

.secondRow{
    margin-top: 20px;
}

.row{
    margin-top: 20px;
}

.thirdRow{
    margin-top: 20px;
}

.boxFuturos{
    background-color: white;
    border-radius: 10px;
    width: 650px;
    height: 300px;
    margin-right: 40px;
    
}

.boxUltimas{
    display: flex;
    justify-content: center;
    width: 670px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    margin-right: 70px;
}

.botaoFixo {
    position: fixed; /* Torna o botão fixo */
    bottom: 20px; /* Posiciona o botão na parte inferior da tela */
    right: 20px; /* Posiciona o botão à direita da tela */
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0; /* Inicialmente, o botão é invisível */
}

@media screen and (min-width: 600px) {
    .section {
        height: 150vh; /* Adjust the height for larger screens */
    }

    .boxTwo,
    .boxSaldo,
    .boxUltimas,
    .boxFuturos {
        width: 100%; /* Make these boxes full width on larger screens */
        margin-left: 0; /* Remove the left margin on larger screens */
        margin-right: 0; /* Remove the right margin on larger screens */
    }

    .boxGrafic {
        width: 100%; /* Make this box full width on larger screens */
    }

    .boxSaldo,
    .boxUltimas,
    .boxFuturos {
        margin-right: 0; /* Remove the right margin on larger screens */
    }
}

@media screen and (max-width: 599px) {
    /* Styles for screens with a maximum width of 599px */
    .box,
    .boxTwo,
    .boxGrafic,
    .boxSaldo,
    .boxUltimas,
    .boxFuturos {
        width: 100%; /* Make these boxes full width on smaller screens */
        margin-left: 0; /* Remove the left margin on smaller screens */
        margin-right: 0; /* Remove the right margin on smaller screens */
    }

    .row,
    .secondRow,
    .thirdRow {
        margin-top: 10px; /* Adjust margin-top for smaller screens */
    }

    .boxSaldo,
    .boxUltimas,
    .boxFuturos {
        margin-right: 0; /* Remove the right margin on smaller screens */
    }

    .botaoFixo {
        opacity: 1; /* Make the button visible on smaller screens */
    }
}